@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the max height and max width for the root element */


html, body {
  min-width: 375px;
  min-height: 600px;
  overflow-y: auto; 
  overflow-x:hidden;

}



