@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the max height and max width for the root element */
html, body {
  width: 375px;
  height: 600px;
  overflow-y: hidden; 
  overflow-x:hidden;
}


